<!doctype html>
<html ng-app="minesweeper">
<head>
  <title>Minesweeper</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div ng-controller="main">
    <p>Total Mines: {{mines}}</p>
    <p>Revealed: {{revealed}}</p>
    <table>
      <tr ng-repeat="(rowindex,row) in grid">
        <td class="cell" ng-repeat="cell in row track by $index" ng-click="selectCell(rowindex,$index)" id="cell-{{rowindex}}-{{$index}}"><span ng-if="cell.accessed">{{cell.value}}</span></td>
      </tr>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/main.js"></script>
  <script src="js/controllers/main.js"></script>
</body>
</html>
